<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Corporate Microservice</title>
    </head>

    <body>
    <div class="container">
        <h2>Corporate Microservice v0.1.0</h2>
        <a target="_blank" href="/swagger-ui/">API Documentation</a>
        <br>
        <span>Build the docs with Dokka and then access it at:</span>
        <a target="_blank" href="http://localhost:63344/corporate/build/dokka/html/index.html">Documentation</a>
        <br>
        <small>If the link isn't working the file is at build/dokka/html/index.html</small>
    </div>
    </body>
</html>