<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mikroservis Corporate</title>
    </head>

    <body>
        <div class="container">
            <h2>Mikroservis Corporate v0.1.0</h2>
            <a target="_blank" href="/swagger-ui/">API Dokumentacija</a>
            <br>
            <span>Dokumentacija se može izraditi s Dokkom i zatim pristupiti na:</span>
            <a target="_blank" href="http://localhost:63344/corporate/build/dokka/html/index.html">Dokumentacija</a>
            <br>
            <small>Ako poveznica ne radi datoteka se nalazi u: build/dokka/html/index.html</small>
        </div>
    </body>
</html>